.label{
    -fx-text-box-border: transparent;
    -fx-background-color: #FFA16C;
    -fx-background-radius: 15;
    -fx-margin : 10;
    -fx-text-fill: #121212;
    -fx-padding: 4 15 4 15;
    -fx-font-size: 17px;
}